__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
.python-version
env/
venv/
data/
*.db
credentials.json
token.json
config/config.yaml
/tmp/
.idea/
.vscode/
*.pdf
!requirement/*.pdf
requirement/
